# Virtual Environment
myven/
venv/
env/
ENV/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases & Local Storage
*.db
*.sqlite3
uploads_doc/
pickle/

# OS files
.DS_Store
Thumbs.db